body{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(216, 213, 213);
     background: url(../curriculun/imagenes/fondo4.jpg);

font-size: 1.3rem;
line-height: 2.0.7em;
margin: 0;
  
}

   h2{
    font-size: 2rem;
    line-height: 1.3em;
    color: rgb(0, 0, 0);
    
      
}





img{
    width: 110px;
}


.container{
    width: 83%;
    max-width: 849px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.53);
}


.header{
   
    color: #9f9f9f;
    padding: 0rem;


    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}




.header a {
color:rgb(199, 197, 197);
text-decoration: none;
width: 10px;

}



.cons-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 
}





main{
    margin-top: 12rem;
 }
 
 
 
 
